/*css*/
@font-face {
  font-family: 'Tequilla_Sunrise';
  font-style: normal;
  font-weight: 300;
   src: url(http://themes.googleusercontent.com/static/fonts/luckiestguy/v3/5718gH8nDy3hFVihOpkY5HhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
/*general*/
ul{
    list-style: none;
}
a{
    text-decoration: none !important;
}
/*pagina1*/
#pagina1{
    background: white url() no-repeat center center;
    background-size: cover;
    position: fixed;
}
.titulo{
    font-family: "Tequilla_Sunrise" !important;
    color: rgb(56, 52, 52);
    font-size: 20px;
    text-align: center;
    width: 100%;
    text-shadow: 1px -1px 1px rgb(118, 122, 122), 1px 4px 1px rgb(204, 204, 204), 0 1px 1px rgb(0, 0, 1), 2px 5px 1px rgb(11, 12, 12), 3px 4px 2px rgb(255, 255, 255);  
}
.img_intro{
    opacity: 0;
    width: 60px;
    height: 60px;
    position: absolute;
}
.image1{
    background: url('../img/CAMISA.png') no-repeat center center;
    margin-left: 50%;
    padding: 15px;   
}
.image2{
    background: url('../img/ZAPATILLAS.png') no-repeat center center;
    padding: 15px;   
}
.image3{
    background: url('../img/vestido.png') no-repeat center center;
    margin-left: 30%;
    padding: 5px;   
}
.image4{
    background: url('../img/pantalon.png') no-repeat center center;
    margin-left: 10%;
    padding: 5px;   
}
.image5{
    background: url('../img/calcetines.png') no-repeat center center;
    margin-left: 10%;
    padding: 5px;   
}
.footer_intro {
    background: none !important;
    border: none !important;
    margin: 0;
    padding: 0;
}
/*pagina2*/
.carousel-caption{
    background: rgba(35, 172, 106, 0.62) !important;
    color: rgb(255, 255, 255);
}
.user_photo{
    background: url(https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/c50.50.621.621/s160x160/972016_558999494152763_1885175435_n.jpg) no-repeat center center;
    width: 10em;
    height: 11em;
    background-size: cover;
    float: left;
    margin-right: 10%;
}
.personal_info {
    width: 100%;
    display: inline-block;
    margin: 0;
    text-align: left;
    margin-bottom: 10%;
}