/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

/*css*/
@font-face {
  font-family: 'Tequilla_Sunrise';
  font-style: normal;
  font-weight: 300;
   src: url(http://themes.googleusercontent.com/static/fonts/luckiestguy/v3/5718gH8nDy3hFVihOpkY5HhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
/*general*/
ul{
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    list-style: none;
}
a{
    text-decoration: none;
}
/*pagina1*/
#pagina1{
    background: white url() no-repeat center center;
    background-size: cover;
    position: fixed;
}
.titulo{
    font-family: "Tequilla_Sunrise" !important;
    color: rgb(56, 52, 52);
    font-size: 20px;
    text-align: center;
    width: 100%;
    text-shadow: 1px -1px 1px rgb(118, 122, 122), 1px 4px 1px rgb(204, 204, 204), 0 1px 1px rgb(0, 0, 1), 2px 5px 1px rgb(11, 12, 12), 3px 4px 2px rgb(255, 255, 255);  
}
.img_intro{
    opacity: 0;
    width: 50px;
    height: 50px;
    position: absolute;
}
.image1{
    background: red;
    margin-left: 50%;
    padding: 15px;   
}
.image2{
    background: yellow;
    padding: 15px;   
}
.image3{
    background: green;
    margin-left: 30%;
    padding: 5px;   
}
.image4{
    background: blue;
    margin-left: 10%;
    padding: 5px;   
}
.footer_intro {
    background: none !important;
    border: none !important;
    margin: 0;
    padding: 0;
}